@import 'variables';

html, body {
    width: 100%;
    height: 100%;
}

*, body {
    margin: 0;
    padding: 0;
}

.app {
    &__header {
        height: 350px;
        background: $lt-blue;

        @media(min-width: 992px) {
            height: 153px;
        }
    }

    &__nav {
        padding: 0px 20px;
        
        @media(min-width: 992px) {
            padding: 0;
        }
    }

    &__item-form:not(:first-child) {
        margin-left: 0px;
        margin-top: 10px;

        @media(min-width: 992px) {
            margin-left: 20px;
            margin-top: 0px;
        }
    }

    &__input {
        width: 100%;
        height: 55px;
        border-radius: 2px;
        outline: 0;
        border: 0px;
        background: $white;
        padding-left: 20px;

        @media(min-width: 992px) {
            width: 296px;
            // height: 55px;
        }
    }

    &__button {
        width: 100%;
        height: 55px;
        color: $white;
        background: none;
        border: 2px solid $white;
        outline: none;
        border-radius: 2px;
        font-weight: bold;
        font-size: 16px;

        @media(min-width: 992px) {
            width: 154px;
        }
    }

    &__info {
        padding: 0px 10%;
    }

    &__canvas {
        width: 600px;
        height: 600px;
        bottom: 65px;
        position: relative;
    }

    &__chart {
        left: 70px;
        position: relative;
    }

    &__persons {
        position: relative;
        right: 155px;
    }

    &__box {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

    &__name {
        font-weight: bold;
        min-width: 150px;
        margin-left: 20px;
    }
}