html, body {
  width: 100%;
  height: 100%;
}

*, body {
  margin: 0;
  padding: 0;
}

.app__header {
  height: 350px;
  background: #00B8E2;
}
@media (min-width: 992px) {
  .app__header {
    height: 153px;
  }
}
.app__nav {
  padding: 0px 20px;
}
@media (min-width: 992px) {
  .app__nav {
    padding: 0;
  }
}
.app__item-form:not(:first-child) {
  margin-left: 0px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .app__item-form:not(:first-child) {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.app__input {
  width: 100%;
  height: 55px;
  border-radius: 2px;
  outline: 0;
  border: 0px;
  background: #FFF;
  padding-left: 20px;
}
@media (min-width: 992px) {
  .app__input {
    width: 296px;
  }
}
.app__button {
  width: 100%;
  height: 55px;
  color: #FFF;
  background: none;
  border: 2px solid #FFF;
  outline: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
}
@media (min-width: 992px) {
  .app__button {
    width: 154px;
  }
}
.app__info {
  padding: 0px 10%;
}
.app__canvas {
  width: 600px;
  height: 600px;
  bottom: 65px;
  position: relative;
}
.app__chart {
  left: 70px;
  position: relative;
}
.app__persons {
  position: relative;
  right: 155px;
}
.app__box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.app__name {
  font-weight: bold;
  min-width: 150px;
  margin-left: 20px;
}

/*# sourceMappingURL=main.css.map */
